{% extends 'base.html.twig' %}

{% block stylesheet %}
<link rel="stylesheet" href="/assets/css/indexStyle.css">
{% endblock %}

{% block title %}Accueil{% endblock %}

{% block content %}
<section>
    <p>Ut enim excepteur ipsum esse sit qui ea esse exercitation labore ullamco fugiat dolore quis. Cillum nostrud laboris 
    sit ea occaecat veniam et culpa ad aliqua. Eiusmod anim voluptate quis eiusmod cupidatat nulla ipsum ea eiusmod ad 
    officia reprehenderit nisi id. Minim Lorem incididunt excepteur aliquip duis consequat eu non.</p>
</section>
<section>
    <button>Nouvelle demande</button>
    <button>Toutes les demandes</button>
</section>
<section>
    <h3>Dernières demandes publiées</h3>
    <div class="caroussel">
        <p>{{ errorBDD[0] }}</p>
        <div class="slides cards_container">
        {% set slideNumber = 1 %}
        {% for request in requests %}
            <div id={{ "slide-" ~ slideNumber }} class="cards">
                <div class="request_title">{{ request.title }}</div>
                <div class="request_user_firstname">{{ request.firstname }} {{ request.lastname }}</div>
            </div>
            {% set slideNumber = slideNumber + 1 %}
        {% endfor %}
        </div>
        <a href="#slide-1" class="dot">1</a>
        <a href="#slide-4" class="dot">2</a>
        <a href="#slide-6" class="dot">3</a>
    </div>
</section>
<section>
    <p>Ut enim excepteur ipsum esse sit qui ea esse exercitation labore ullamco fugiat dolore quis. Cillum nostrud laboris 
    sit ea occaecat veniam et culpa ad aliqua. Eiusmod anim voluptate quis eiusmod cupidatat nulla ipsum ea eiusmod ad 
    officia reprehenderit nisi id. Minim Lorem incididunt excepteur aliquip duis consequat eu non.</p>
    <p>Ut enim excepteur ipsum esse sit qui ea esse exercitation labore ullamco fugiat dolore quis. Cillum nostrud laboris 
    sit ea occaecat veniam et culpa ad aliqua. Eiusmod anim voluptate quis eiusmod cupidatat nulla ipsum ea eiusmod ad 
    officia reprehenderit nisi id. Minim Lorem incididunt excepteur aliquip duis consequat eu non.</p>
    <p>Ut enim excepteur ipsum esse sit qui ea esse exercitation labore ullamco fugiat dolore quis. Cillum nostrud laboris 
    sit ea occaecat veniam et culpa ad aliqua. Eiusmod anim voluptate quis eiusmod cupidatat nulla ipsum ea eiusmod ad 
    officia reprehenderit nisi id. Minim Lorem incididunt excepteur aliquip duis consequat eu non.</p>
</section>
{% endblock %}
