{% extends 'base.html.twig' %}

{% block stylesheet %}
<link rel="stylesheet" href="/assets/css/cardsStyle.css">
<link rel="stylesheet" href="/assets/css/indexStyle.css">
<link rel="stylesheet" href="/assets/css/overlayStyle.css">
{% endblock %}

{% block title %}Accueil{% endblock %}

{% block content %}
<section class="presentation-div-odd">
    <h2 class="presentation-div-odd">Et si on partageait nos affaires ?</h2>
    <p class="text" >Vous êtes pour l'entraide et avez besoin d'un coup de main ou souhaitez donner un coup de main, ce site est fait pour vous.<br>
Vous avez besoin d'une motte de beurre, d'un kilo de pomme ou d'une grelinette, dites le sur WeShare.<br>
Vous aviez prévu d'aller chercher du beurre, vous avez trop de pommes dans votre jardin, ou vous n'utilisez pas vos outils de jardinage cette semaine, vérifier si d'autres en ont besoin et partagez !</p>
</section>
<section class="presentation-div-even">
<div class="publish-container">
    <div class="publish">
    <p>Tu as une nouvelle demande que tu veux publier ?</p>
    <button onclick="window.location.href ='/request/add'" class="button" >Nouvelle demande</button>
    </div>
    <div class="vertical-line"></div>
    <div class="publish">
    <p>Tu veux voir toutes les demandes en attente ?</p>

    <button onclick="window.location.href ='/request/list'" class="button" >Toutes les demandes</button>
    </div>
</div>
</section>
<section class="presentation-div-odd">
    <h2 class="presentation-div-odd">Dernières demandes publiées</h2>
    <div class="caroussel">
        <p>{{ errorBDD[0] }}</p>
        <div class="slides cards_container">
        {% set slideNumber = 1 %}
        {% for request in requests %}
            <div id={{ "slide-" ~ slideNumber }} class="cards">
                <div class="request_title">{{ request.requestTitle }}</div>
                <div class="request_user_firstname">{{ request.userFirstName }} {{ request.userLastName }}</div>
                <div class="id_request">{{ request.requestId }}</div>
                <div class="request_town_name">{{ request.townName }}</div>
                <div class="loupe">
                    <a class="loupe-img" href={{ "#popup" ~ request.requestId }}><img src="/assets/images/loupe_small_size2.png" alt="Une petite loupe pour rentrer dans la demande"></a>
                </div>
            </div>
            {% set slideNumber = slideNumber + 1 %}
        {% endfor %}
        </div>
        <a href="#slide-1" class="dot">1</a>
        <a href="#slide-4" class="dot">2</a>
        <a href="#slide-6" class="dot">3</a>
    </div>
</section>
<section class="presentation-div-even">
    <h2 class="presentation-div-even">Partagez au lieu d’acheter !</h2>
    <p>Partageons et mettons en commun au lieu d’acheter pour un usage unique ! La planète et votre porte-monnaie vous dirons merci 😉<br>
Louer plutôt qu'acheter, se rendre service, partager nos savoir-faire... Vous pouvez continuer à vous faire plaisir tout autant, et même davantage, dans une démarche plus responsable.<br>
Échangez entre voisins et améliorez votre quotidien, organisez tous vos partages autour de chez vous et ainsi créer une boîte à outils de quartier, une bibliothèque partagée de voisinage (que vous pouvez gérer grâce à nos amis de <a href="https://tours-php-2009-project2-mybooks.phprover.wilders.dev/" target="_blank">MyBooks™</a>), mettre en commun vos outils de jardinage ou du matériel de puériculture.<br>
Adoptez un style de vie plus collaboratif, plus local, pour limiter sa consommation et ne plus gaspiller. Nous pensons que chaque action compte pour sauver la planète : renouer avec ses commerçants locaux, donner au lieu de jeter, se déplacer à plusieurs… vous réaliserez aussi de réelles économies !</p>
</section>
<section class="presentation-div-odd">
    <h2 class="presentation-div-odd">Changez votre manière de consommer</h2>
    <p>Sociale, solidaire, collaborative ou circulaire, l'économie se transforme et les modes de consommation évoluent. On peut tous améliorer notre manière de consommer, en adoptant ces nouvelles pratiques et en donnant du sens à nos actions.<br>
Privilégiez l'<a href="https://fr.wikipedia.org/wiki/%C3%89conomie_de_fonctionnalit%C3%A9" target="_blank">économie de fonctionnalité</a> (d'usage) plutôt que la propriété.</p>
</section>
<section class="presentation-div-even"> 
    <h2 class="presentation-div-even">Création de lien social</h2>
    <p>Nous combattons l’individualisme et l’isolement social, véritables défis de nos sociétés modernes, en recréant du lien et des conditions propices aux échanges dans la vraie vie. Rejoignez WeShare et renouez avec votre vie de quartier (et même votre ville et les communes avoisinantes), vos amis et votre famille proche.</p>
</section>
<section class="presentation-div-odd">
    <h2 class="presentation-div-odd">En toute confiance</h2>
    <p>Sur WeShare, vos voisins sont bien vos voisins dans la vraie vie. Cela vous permettra de partager vos objets en toute confiance.</p>
</section>

{% for request in requests %}
<div id={{ "popup" ~ request.requestId }} class="overlay">
    <div class="popup">
        <div class="close"><a href={{ "#loupe-img" ~ request.requestId }}>&times;</a></div>
        <div class="content">
            <div class="popup_request_title">{{ request.requestTitle}}</div>
            <div class="popup_user_informations">
                <div>Nom: {{ request.userFirstName }} {{ request.userLastName }}</div>
                <div>Adresse: {{ request.addressStreet }}</div>
                <div class="popup_request_postalcode">{{ request.townPostalCode}} {{ request.townName }}</div>
                <div>Tel: 0{{ request.userPhone }}</div>
                <div>@: {{ request.userEmail }}</div>
            </div>
            <div class="popup_description_container">
                <div class="popup_request_quantity">Quantité: {{ request.requestQuantity }} {{ request.measurementName }}(s)</div>
                <div class="popup_description">Description: <br>{{ request.requestDescription }}</div>
            </div>
            <div class="popup_request_publishdate">Publié le {{ request.requestPublicationDate }}</div>
            
            <div class="button_container">
                <div class="popup_answerer_name">
                    <form action="/request/takeCare/classic" method="POST">
                        <input type="number" name="requestId" value="{{ request.requestId }}">
                        <div class="iAm" >
                            <label for="userId">Je suis</label>
                        </div>
                        <div class="select">
                            <select id="userId" name="userId" type="choice">  
                                <option>-- --</option>
                                {% for user in users %}
                                    <option name="userId" value={{ user.id }}>{{ user.firstname }} {{ user.lastname }}</option>
                                {% endfor %}
                            </select>  
                        </div>  
                        <div class="take_care_button">
                            <button>
                                et je m'en occupe!
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}
