{% extends 'base.html.twig' %}

{% block title %}
    Demandes acceptées
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/seeRequestStyleSheet.css">
{% endblock %}

{% block content %}
<div class="requests_list">
    <div class="list_title">Liste des demandes acceptées</div>
    <form action="/request/acceptedListByUser" method="POST">
        <label for="userId">Qui es-tu ?</label>
        <select id="userId" name="userId" type="choice">
            <option>Toutes les demandes</option>
        {% for user in users %}
            <option name="userId" value={{ user.id }}>{{ user.firstname }} {{ user.lastname }}</option>
        {% endfor %}
        </select>
        <button>Voir</button>
    </form>
    <p>{{ error }}</p>
    <div id="cards" class="cards_container">
    {% for request in requests %}
        <div class="cards">
            <div class="request_title">{{ request.requestTitle }}</div>
            <div class="request_user_firstname">{{ request.userFirstName }} {{ request.userLastName }}</div>
            <div class="id_request">{{ request.requestId }}</div>
            <div class="request_town_name">{{ request.townName }}</div>
            <div class="loupe">
                <a class="loupe-img" href={{ "#popup" ~ request.requestId }}><img src="/assets/images/loupe_small_size2.png" alt="Une petite loupe pour rentrer dans la demande"></a>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
{% for request in requests %}
<div id={{ "popup" ~ request.requestId }} class="overlay">
    <div class="popup">
        <div class="close"><a href={{ "#loupe-img" ~ request.requestId }}>&times;</a></div>
        <div class="content">
            <div class="popup_request_title">{{ request. requestTitle}}</div>
            <div class="popup_user_informations">
                <div>Nom: {{ request.userFirstName }} {{ request.userLastName }}</div>
                <div>Adresse: {{ request.addressStreet }}</div>
                <div class="popup_request_postalcode">{{ request.townPostalCode}} {{ request.townName }}</div>
                <div>Tel: 0{{ request.userPhone }}</div>
                <div>@: {{ request.userEmail }}</div>
            </div>
            <div class="popup_description_container">
                <div class="popup_request_quantity">Quantité: {{ request.requestQuantity }} {{ request.measurementName }}(s)</div>
                <div class="popup_description">Description: <br>{{ request.requestDescription }}</div>
            </div>
            <div class="popup_request_publishdate">Publié le {{ request.requestPublicationDate }}</div>
            <div>{{ request.fk_answerer_id }} s'en occupe !</div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}