{% extends 'base.html.twig' %}

{% block title %}
    Liste Express
{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="/assets/css/listexpress.css">
{% endblock %}


{% block content %}
    <div class="requests_list">
        <div class="list_title">
        Liste Express
        </div>
        <div class="row">
            <div class="col">
                <select name="categorie" id="categorie" class="select-width-100">
                <option value="item1">item1</option>
                <option value="item2">item2</option>
                <option value="item3">item3</option>
                <option value="item4">item4</option>
                </select>
            </div>
            <div class="col">
            </div>
            <div class="col">
            </div>
            <div class="col">
                <select name="categorie" id="categorie" class="select-width-100">
                <option value="item1">item1</option>
                <option value="item2">item2</option>
                <option value="item3">item3</option>
                <option value="item4">item4</option>
                </select>
            </div>
        </div>
        <div id="cards" class="cards_container">
                {% for request in requests %}
                <div class="cards">
                    <div class="item request_title"> <a href={{ "#popup" ~ request.requestId }}>{{ request.requestTitle }}</a></div>
                    <div class="item request_user_firstname">{{ request.userFirstName }} {{ request.userLastName }}</div>
                    <div class="item id_request">{{ request.requestId }}</div>
                    <div class="item request_town_name">{{ request.townName }}</div>
                    <div class="checkbox">
                        <input type="checkbox" id="box" name="box" class="box">
                        <label for="box"></label>

                    </div>
                </div>
                {% endfor %}
            
        </div>
    </div>
    {% for request in requests %}
    <div id={{ "popup" ~ request.requestId }} class="overlay">
        <div class="popup">
            <div class="close"><a href={{ "#loupe-img" ~ request.requestId }}>&times;</a></div>
            <div class="content">
                <div class="popup_request_title">{{ request. requestTitle}}</div>
                <div class="popup_user_informations">
                    <div>Nom: {{ request.userFirstName }} {{ request.userLastName }}</div>
                    <div>Adresse: {{ request.addressStreet }}</div>
                    <div class="popup_request_postalcode">{{ request.townPostalCode}} {{ request.townName }}</div>
                    <div>Tel: 0{{ request.userPhone }}</div>
                    <div>@: {{ request.userEmail }}</div>
                </div>
                <div class="popup_description_container">
                    <div class="popup_request_quantity">Quantité: {{ request.requestQuantity }} {{ request.measurementName }}(s)</div>
                    <div class="popup_description">Description: <br>{{ request.requestDescription }}</div>
                </div>
                <div class="popup_request_publishdate">Publié le {{ request.requestPublicationDate }}</div>
                <div class="button_container">
                    <div class="take_care_button">Je m'en occupe!</div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}