{% extends 'base.html.twig' %}

{% block title %}
    Liste des demandes
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/seeRequestStyleSheet.css">
{% endblock %}


{% block content %}

    <div class="publish-container">
        <div class="publish">
            <p>Tu as une nouvelle demande que tu veux publier?</p>
            {# liens à prévoir #}
            <button onclick="window.location.href ='/home/index'" class="button">Nouvelle demande</button>
        </div>
        <div class="vertical-line"></div>
        <div class="signIn">
            <p>Tu veux participer et tu n'es pas encore enregistré?</p>
            {# liens à prévoir #}
            <button onclick="window.location.href ='/home/index'" class="button">Je m'enregistre!</a></button>
        </div>
    </div>
    <div class="requests_list">
        <div class="list_title">
        Liste des demandes
        </div>
        <div id="cards" class="cards_container">
            {% for test in requests %}
                <div class="cards">
                    <div class="request_title">{{ test.requestTitle }}</div>
                    <div class="request_user_firstname">{{ test.userFirstName }} {{ test.userLastName }}</div>
                    <div class="id_request">{{ test.requestId }}</div>
                    <div class="request_town_name">{{ test.townName }}</div>
                    <div class="loupe">
                        <a class="loupe-img" href={{ "#popup" ~ test.requestId }}><img src="/assets/images/loupe_small_size2.png" alt="Une petite loupe pour rentrer dans la demande"></a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% for test in requests %}
    <div id={{ "popup" ~ test.requestId }} class="overlay">
        <div class="popup">
            <div class="request_street">{{ request.street }}</div>
            <a class="close" href="#cards">&times;</a>
            <div class="content">
                <div>{{ test. requestTitle}}</div>
                <div>{{ test.userFirstName }} {{ test.userLastName }}</div>
                <div>{{ test.addressStreet }}</div>
                <div>{{ test.townPostalCode}} {{ test.townName }}</div>
                <div>{{ test.userPhone }}</div>
                <div>{{ test.userEmail }}</div>
                <div>{{ test.requestQuantity }} {{ test.measurementName }}</div>
                <div>{{ test.requestDescription }}</div>
                <div>Publié le {{ test.requestPublicationDate }}</div>
            </div>
        </div>
    </div>
    {% endfor %}

{% endblock %}